*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; 
  color:white;
  background-color:#F0F4EF ;
}

.nav-container {
    background-color: #0D1821;
    height: 10rem;
    width: 100%;
}
.nav-inner {
    height: 100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

.nav-search {
    width: 50rem;
    height: 3rem;
    display:inline-block;
}
.form-control:focus {
    border-color: #BFCC94;
    box-shadow: 0 0 0 0.25rem #BFCC94;
}

.nav-search-btn {
    height: 3rem;
    color: #198754;
    border-color: #198754;
}

.nav-search-btn:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.nav-icon {
    font-size: 2.5rem;
    border:none;
}

.nav-col .logo-link {
    color: #F0F4EF;
}

.dd-style {
    color: #0D1821;
    font-size: 1.5rem;
}

.container-content {
    position: relative;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
}

.card-row {
    width: 28rem;
    margin: 1rem;
    z-index: 9999;
    cursor: pointer;
}

.article-tile {
    color: #0D1821;

}
.card-a {
    text-decoration: none;
}

.article-f {
    width:50%;
    margin:auto;
    color: #0D1821;
    display:flex;
    flex-direction: column;
    position: relative;
    gap:5rem;
}

.article-header-f {
    width:100%;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

}

.article-img-f {
    width:100%;
    height: 40rem;
    object-fit: cover;
    object-position: center;
}

.article-title-f {
    font-size: 4rem;
}

.article-introtxt-f {
    letter-spacing: 0.15rem;
    line-height: 3rem;
}

.article-body-f p {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 3.5rem;
}

.article-comments-f {
    border-top: 2px solid #0D1821;
}
.article-comment-header-title-f {
    margin-top:2rem;
}

.article-comment-f {
    border: 1px solid #0D1821;
    padding: 2rem;
    margin-bottom: 2rem;
}

.color_dark {
    color:#0D1821;
}

.article-comment-header-f {
    margin-bottom: 1rem;
    border-bottom: solid 1px #0D1821;
}
.article-comment-container-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.article-comment-content {

}

.img-preview {

}
.img-preview .thumb {
    object-fit: cover;
    object-position: center;
    width:100%;
    height:40rem;
}

.form-container {
    width:60%;
    margin:auto;
}

.form-container label {
    color:black;
}

.form-title,
.form-content,
.form-introtxt {
    width:100%;
    height:3rem;
}
.container-articles {
    width: 100%;
}

.container-single-article {
    height: 10rem;
    width: 85%;
    margin: auto;
    
    margin-bottom: 1rem;
    display:flex;

}
.container-single-article-img {
    height:100%;
    width: 10rem;
}

.container-single-article-img-img {
    max-height: 100%;
    max-width: 100%;
}

.container-single-article-content {
    border: 1px solid #0D1821;
    height:100%;
    flex-grow: 1;
}
.container-single-article-controlls {
    height:100%;
    width: 5rem;
    display:flex;
    flex-direction: column;
}

.btn-article-controll {
    flex-grow: 1;
}

.container-single-article-content {
    color: #0D1821;
    padding: 1rem;
}

.container-single-article-content-title {

}

.container-single-article-content-introtxt {
    font-size: 1.5rem;
}

.dropdown-menu {
    z-index: 99999;
}